@tailwind base;
@tailwind components;
@tailwind utilities;

#home {
  background-color: #ef7c8e;
}

#about {
  background-image: linear-gradient(
    to bottom,
    #ef7c8e,
    #f59999,
    #f8b4aa,
    #f9cfc2,
    #fae8e0
  );
}

#projects {
  background-image: linear-gradient(
    to bottom,
    #fae8e0,
    #f4dcd4,
    #efcfca,
    #e9c3c1,
    #e2b7b9,
    #e2b6b2,
    #e0b5ab,
    #deb4a4,
    #d8c0a2,
    #cccdab,
    #bfd9bc,
    #b6e2d3
  );
}

#contact {
  background-image: linear-gradient(
    to bottom,
    #b6e2d3,
    #bee9da,
    #c6f0e2,
    #cff8e9,
    #d7fff1
  );
}

.projectBg {
  background-color: #220814;
}

/* Font family */
h5,
.fontSyne {
  font-family: "Syne Mono";
}

h2 {
  font-family: "Silkscreen";
}

h3,
.fontRib {
  font-family: "Ribeye";
}

h1 {
  font-family: "Coiny";
}

span,
.fontVT {
  font-family: "VT323";
}

p,
.fontSourceCode {
  font-family: "Source Code Pro", monospace;
}

.fontIncon {
  font-family: "Inconsolata";
}

/* Detail Projects */
.captionImg {
  background-color: rgba(255, 255, 255, 0.7);
  visibility: none;
  opacity: 0;
  z-index: 2;
}

.storeImg:hover .captionImg {
  visibility: visible;
  opacity: 1;
}
