#home{
    background-color:#EF7C8E ;
    width: 100vw;
    height: 100vh
}

#about{
    background-image: linear-gradient(to bottom, #ef7c8e, #f59999, #f8b4aa, #f9cfc2, #fae8e0);
    width:100vw;
    height:100vh;

}

#projects{
    background-image: linear-gradient(to bottom, #b6e2d3, #c8e3cc, #d9e4ca, #e7e4cd, #f2e5d4, #f3e1d2, #f4dcd1, #f3d8d1, #edccc7, #e7bfbe, #e0b3b7, #d8a7b1);
    width:100vw;
    height:100vh;
}

.hotel-img{
    width: 200px;
}
