@tailwind base;
@tailwind components;
@tailwind utilities;

#home {
  background-color: #ef7c8e;
}

#about {
  background-image: linear-gradient(
    to bottom,
    #ef7c8e,
    #f59999,
    #f8b4aa,
    #f9cfc2,
    #fae8e0
  );
}

#projects {
  background-image: linear-gradient(
    to bottom,
    #fae8e0,
    #f4dcd4,
    #efcfca,
    #e9c3c1,
    #e2b7b9,
    #e2b6b2,
    #e0b5ab,
    #deb4a4,
    #d8c0a2,
    #cccdab,
    #bfd9bc,
    #b6e2d3
  );
}

#contact {
  background-image: linear-gradient(
    to bottom,
    #b6e2d3,
    #bee9da,
    #c6f0e2,
    #cff8e9,
    #d7fff1
  );
}

.projectBg {
  background-color: #220814;
}

/* Font family */
h5,
.fontSyne {
  font-family: "Syne Mono";
}

h2 {
  font-family: "Silkscreen";
}

h3,
.fontRib {
  font-family: "Ribeye";
}

h1,
.fontCoiny {
  font-family: "Coiny";
}

span,
.fontVT {
  font-family: "VT323";
}

p,
.fontSourceCode {
  font-family: "Source Code Pro", monospace;
}

.fontIncon {
  font-family: "Inconsolata";
}

/* Detail Projects */
.captionImg {
  background-color: rgba(255, 255, 255, 0.7);
  visibility: none;
  opacity: 0;
  z-index: 2;
}

.storeImg:hover .captionImg {
  visibility: visible;
  opacity: 1;
}

/* Hover effect  */
.hoverEffect {
  letter-spacing: 7px;
  cursor: pointer;
}

.hoverEffect span {
  transition: 0.5s ease-out;
}
.hoverEffect:hover span:nth-child(1) {
  margin-right: 30px;
}

.hoverEffect:hover span:nth-child(3) {
  margin-left: 30px;
}
.hoverEffect:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    font-size: 100px;
    transform: translateX(-100%);
    filter: blur(1vmin);
  }
  50% {
    opacity: 1;
    font-size: 50px;
    transform: translateX(0%);
    filter: blur(0.02vmin);
  }
  100% {
    opacity: 0;
    font-size: 100px;
    transform: translateX(100%);
    filter: blur(1vmin);
  }
}
